body {
  background-color: #4781ff;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.app-container {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
}
.data-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.input-box {
  width: 300px;
  height: 50px;
  font-size: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-right: 5px;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}
.submit-btn {
  height: 100%;
  width: 80px;
  border-radius: 2px;
  border: 1px solid #999;
  font-size: 16px;
  background-color: #8896f5;
  cursor: pointer;
}
.list {
  list-style: none;
  padding-left: 0;
}
.list-item {
  font-size: 16px;
  margin-top: 5px;
  height: 40px;
  background-color: #8896f5;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
}
.remove-btn {
  width: 30px;
  height: 30px;
  background-color: #ff3628;
  padding: 2px;
  font-size: 20px;
  border: 1px solid #ff3628;
  border-radius: 50%;
  cursor: pointer;
}
.remove-btn:hover, .submit-btn:hover {
  opacity: 0.6;
}
.label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.content-block {
  overflow-x: auto;
  padding: 2px;
  scrollbar-width: thin;
  color: #f1f1f1;
}
.edit-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}